ScaleFactors*
*.bin
job.sh
jsonpog-integration/
Untitled*
test.py
json
wq-*
parsl_logs/
*__init__*
.__*
results/
conda-install.sh
*.png
*.swp
*.pyc
*.root
*.xml
*.log
*.json
*.ipynb_checkpoints/
*.tar.gz
*env*
*.csv
*.coffea
*.out
!my-conf.json
